@model AjaxActivity3.Models.CustomerModel
<h5>Current Time is @DateTime.Now </h5>
<div class="container bg-dark text-white">
    <h4>Customer Information Here</h4>
    <div class="controler bg-light text-dark pl-2 pr-2 pb-2 mb-3">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
        </dl>
    </div>
</div>
